<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="sfdc.org.test.OppurtunitiesTest"/>    
      <class name="sfdc.org.test.LoginTest"/>
      <class name="sfdc.org.test.UserMenuTest"/>
      <class name="sfdc.org.test.CreateAccountTest"/>
      <class name="sfdc.org.test.LeadsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
